<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Customer Orders</h1>
    {% for order in orders %}
        <p>
            {{ order.customer_name }}, {{ order.order_date }}, {{ order.album_title }}, {{ order.artist_name }}, {{ order.quantity }}
        </p>
        <a href="/order/{{orders.index(order)}}">Show order</a>
    {% endfor %}
</body>
</html>